<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/components/css/categoria.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>ADMIN NOME DA LOJA</h1>
        <ul>
            {{#each admin}}
            <li><a href="/admin_produto/{{senha}}">PRODUTOS CADASTRADOS</a></li>
            <li><a href="/cad_produto/{{senha}}">CADASTRAR NOVO PRODUTO</a></li>
            <li><a href="/models/teste.db">FAZER BACKUP</a></li>
            {{/each}}
        </ul>
    </header>

        <main>
            <form action="/add_categoria" method="post">
            <h3>ADICIONAR CATEGORIA:</h3>
                <input type="text" name="nome_categoria">
                <button class="btn btn-primary">ADICIONAR</button>
            </form>
            <h3>CATEGORIAS CADASTRADAS:</h3>
            {{#each categoria}}
            <form action="/att_categoria/{{id_categoria}}" method="post">
            <input type="hidden" name="categoria_antiga" value="{{nome_categoria}}">
            <input type="text" value="{{nome_categoria}}" name="nome_categoria">
            <button class="btn btn-primary">SALVAR</button>
            <a href="/excluir_categoria/{{id_categoria}}" class="btn btn-primary">EXCLUIR</a>
            </form>
            {{/each}}

        </main>
    
    <footer>
            <p>ASSISTÊNCIA: (11)97471-8743</p>
    </footer>
</body>
</html>