<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/views/components/css/index.css">
    <link rel="stylesheet" href="/views/components/css/comprar.css">
    <title>Document</title>
</head>
<body>
    <header>
            {{#each user}}
            <div id="login">
                <p>{{senderName}}</p>
                <a href="/minha_conta/{{token_user}}">MINHA CONTA</a>
                <a href="/">SAIR</a>
            </div>
            <a href="/sem_filtro/{{token_user}}"><h3>NOME/IMAGEM LOJA</h3></a>
            {{/each}}
            <input type="search" placeholder="Procure aqui :)">
    </header>

    {{#each produto}}
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="/uploads/{{imagem_produto}}" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/uploads/{{imagem_produto_s}}" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/uploads/{{imagem_produto_t}}" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
 </div>

 <div id="desc">
    <h2>{{nome_produto}}</h2>
    <h3>R${{preco_produto}}</h3>
    <h4>Sobre o produto:</h4>
    <p>{{descricao_produto}}</p>
    <div id="quantidade">
        <button id="menos" type="button">-</button>
             <input type="text" id="num_itens" value="1" disabled>
        <button id="mais" type="button">+</button>
    </div>
 
    <!-- Declaração do formulário -->  
<form method="post" target="pagseguro" action="/vender/user" id="myform">  
          
        <!-- Campos obrigatórios -->  
        <input name="receiverEmail" type="hidden" value="heitorogrande2001@gmail.com" id="email_loja">  
        <input name="currency" type="hidden" value="BRL" id="moeda">
  
        <!-- Itens do pagamento (ao menos um item é obrigatório) -->  
        <input name="itemId1" type="hidden" value="999999" class="item_id">  
        <input name="itemDescription1" type="hidden" value="Frete" class="nome_produto">
        <input name="itemAmount1" type="hidden" value="" class="preco_produto" id="valor_frete">  
        <input name="itemQuantity1" type="hidden" value="1" class="itemQuantity">

        <input name="itemId2" type="hidden" value="{{id_produto}}" id="item_id">  
        <input name="itemDescription2" type="hidden" value="{{nome_produto}}" id="nome_produto"><!--- nome no meu sistema é descrição para o pagseguro --->
        <input name="itemAmount2" type="hidden" value="{{preco_produto}}" id="preco_produto">  
        <input name="itemQuantity2" type="hidden" value="1" id="item_quantidade">

        <input name="itemId" type="hidden" value="{{id_produto}}" id="item_id">  
        <input name="itemDescription" type="hidden" value="{{nome_produto}}" id="nome_produto"><!--- nome no meu sistema é descrição para o pagseguro --->
        <input name="itemAmount" type="hidden" value="{{preco_produto}}" id="preco_produto">  
        <input name="itemQuantity" type="hidden" value="1" id="item_quantidade">

        {{#each ../user}}          
        <!-- Informações de frete (opcionais) -->  
        <input name="shippingType" type="hidden" value="1">
        <!--<input name="itemShippingCost1" type="hidden" value="" id="valor_frete">--> 
        <input name="shippingAddressPostalCode" type="hidden" value="{{shippingAddressPostalCode}}">  
        <input name="shippingAddressStreet" type="hidden" value="{{shippingAddressStreet}}">  
        <input name="shippingAddressNumber" type="hidden" value="{{shippingAddressNumber}}">  
        <input name="shippingAddressComplement" type="hidden" value="{{shippingAddressComplement}}">  
        <input name="shippingAddressDistrict" type="hidden" value="{{shippingAddressDistrict}}">  
        <input name="shippingAddressCity" type="hidden" value="{{hippingAddressCity}}">  
        <input name="shippingAddressState" type="hidden" value="{{shippingAddressState}}">
        <input type="hidden" name="token_user" value="{{token_user}}">

        <!-- Dados do comprador (opcionais) -->  
        <input name="senderName" type="hidden" value="{{senderName}}">   
        <input name="senderPhone" type="hidden" value="{{senderPhone}}">  
        <input name="senderEmail" type="hidden" value="{{senderEmail}}">  

        <!-- Código de referência do pagamento no seu sistema (opcional) -->  
        <input name="reference" type="hidden" value="" id="cod_pedido">
  
        <!-- submit do form (obrigatório) --> 
        <input type="hidden" name="quantidade_total_itens" value="" id="quantidade_total_itens">
        <input type="hidden" value="" id="valor_total_back" name="valor_total">
        <button class="btn btn-primary" id="comprar">COMPRAR</button>
</form>

      <input type="hidden" value="{{../quantidade}}" id="quant">
      <p>Quantidade em estoque: {{../quantidade}}</p>

      <div id="frete">
        <p>Calcule o frete colocando seu CEP:</p>
        <input type="text" name="cepDestino" value="{{shippingAddressPostalCode}}" id="cepDest">
        <input type="submit" value="calcular" id="btnFrete">
        <p id="frete_preco"></p>
        <p id="prazo"></p>
      </div>
      
      <form action="/insert_carrinho/{{token_user}}" method="post">
            <p>Tamanho:</p>
      <select name="tamanho" id="tamanho">
              <option value="{{../tamanho_1}}">{{../tamanho_1}}</option>
              <option value="{{../tamanho_2}}">{{../tamanho_2}}</option>
              <option value="{{../tamanho_3}}">{{../tamanho_3}}</option>
      </select>
        <input name="img_produto" id="img_produto" type="hidden" value="{{../imagem_produto}}">
          <input name="nome_produto" id="n_p" type="hidden" value="{{../nome_produto}}">
          <input name="preco_produto" id="p_p" value="{{../preco_produto}}" type="hidden">
          <input name="id_produto" id="i_p" value="{{../id_produto}}" type="hidden">
          <input name="token_user" id="i_u" value="{{token_user}}" type="hidden">
          <input type="hidden" id="produto_quantidade" value="1" name="produto_quantidade">
          <button id="add_carrinho">ADICIONAR AO CARRINHO</button>
      </form>
      
        {{/each}}
    {{/each}}  
  </div>
</body>
<script src="/views/components/js/validarPag.js"></script>
<script src="/views/components/js/quantidade.js"></script>
<script src="/views/components/js/frete.js"></script>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>