<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/components/css/pedido_detalhes.css">
    <title>Document</title>
</head>
<body>
        <main>
            {{#each pedido}}
            <h2>Detalhes do pedido {{reference}}</h2>
            <p>Nome do comprador: {{nome_cliente}}</p>
            <p>Telefone para contato: {{contato}}</p>
            <p>Status do pedido: {{status_pedido}}</p>
            <p>Pedido realizado na data: {{data_pedido}}</p>
            <p>Total do pedido: R${{valor_total}}</p>
            <a href="/MyAdmin/{{token_user}}/{{reference}}">Atualizar pedido</a>
            {{/each}}
        </main>
</body>
</html>